#root {
  margin: 0 auto;
  text-align: center;
  
}
body{
    height: 100vh;
}
.grey {
  background-color: black;
  height: 1px; /* o lo que uses */
  transition: background-color 0.3s ease;
}

/* Cuando está modo oscuro */
.grey.dark {
  background-color: white; /* o el color que quieras */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
