.main-body {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.def {
  width: 25%;
}

.def p {
  line-height: 1.5rem;
}

.white {
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 4rem;

}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  grid-gap: 15px 15px;
  justify-content: center;
  align-items: baseline;
}

.grid-row .grid-item span {
  padding: 10px;
  line-height: 1;
}

.grid-row .grid-item h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.grid-row .grid-item img {
  border-radius: 1rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.grid-row .grid-item:hover img {
  transform: scale(1.05);
}

.grid-row .grid-item {
  transition: filter 0.5s ease;
  display: flex;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  flex-direction: column-reverse;
  align-items: stretch;
}



.app {
  width: 20rem;
  /* Aproximadamente 96px si 1rem = 16px */
  height: auto;
  display: block;
  margin: 1rem auto;
  /* centrado vertical con separación */
}

.map iframe {
  border-radius: 12px;
}

@media only screen and (max-width: 1400px) {
  .main-body {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .def {
    display: flex;

    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .def p {
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
  }

  iframe {
    width: fit-content;
  }

  .masaApp {
    margin-bottom: 1rem;
  }
}