ul,
.list-images {
  list-style: none;
  white-space: nowrap;
}

.list-images {
  display: inline;
  place-items: center;
}

.list-images img {
  margin-top: -16px;
  width: 900px;
  height: 500px;
  
}


.main-container {
  width: 900px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 2.2rem;
}


.slider-container {
  position: relative;
  height: 100%;

}

.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}


.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
