  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Tektur:wght@400;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Tektur&display=swap');
:root {
  font-family: 'Oswald', sans-serif;
  font-family: 'Tektur', sans-serif;
  /* line-height: 2rem; */
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #FDFDFD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* *{
  box-sizing: border-box;
} */
header {
  display: flex;
}

html, body {
  height: 100%;
  margin: 0;
  
  /* overflow-y: scroll; */
}
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */
/* a:hover {
  color: #535bf2;
} */

body {
  /* margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #3498db;
  background-image: url("./assets/background-image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  margin: 0;
  background-color: #FDFDFD;
  overflow: initial;
}

#header-content {
  width: 100%;
  place-content: center;
  justify-content: center;
}
#footer-content {
  width: 100%;
  place-content: center;
  justify-content: center;
  border-radius: 4rem;
}

li{
  list-style: none;
  margin-bottom: 1.5rem;
}
ul{
  margin-top: 2rem;
  padding-inline-start: unset;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333333;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: #213547 dotted;
  border-color: white;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
@media only screen and (max-width: 798px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer-content p {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .logo {
    margin: 0 auto;
    
  }

  h1 {
    font-size: xx-large;
    margin: 0 auto;
  }
  ul{
    margin-left: 1rem;
    padding-inline-start: unset;
  }
}
