:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333333;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* *{
  box-sizing: border-box;
} */
header {
  display: flex;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #3498db;
  background-image: url("./assets/background-image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#header-content {
  margin: 3rem;
  background-color: #fafafa;
  width: 100%;
  place-content: center;
  justify-content: center;
  border-radius: 4rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 2.5rem;
  margin-right: 12rem;
}
li{
  list-style: none;
  margin-bottom: 1.5rem;
}
ul{
  margin-top: 2rem;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333333;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media only screen and (max-width: 798px) {
  #header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-right: 4rem;
  }

  h1 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
